# Supabase Configuration
VITE_SUPABASE_URL=https://xkxdxatygoyoaifcfgcu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGR4YXR5Z295b2FpZmNmZ2N1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMzUwMDAsImV4cCI6MjA2NjcxMTAwMH0.DOHtY1N2_lT3zR9HnQmVft8zhGuxkuIDQKhJ9J3RW0E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhreGR4YXR5Z295b2FpZmNmZ2N1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTEzNTAwMCwiZXhwIjoyMDY2NzExMDAwfQ.gBS_4NBNox7Q9ew__t2qcv5Zje07dxQqpNTtGcMOQqY

# JWT Configuration
JWT_ACCESS_SECRET=0sJ6VC7VSlvSTC8MFYEejZqxyrjRat50M+k3e/E3sUG86s7+gIZj/6GDEWjZCHSsXHTmsm4ycNcaTpB8Uccx+g==
JWT_REFRESH_SECRET=0sJ6VC7VSlvSTC8MFYEejZqxyrjRat50M+k3e/E3sUG86s7+gIZj/6GDEWjZCHSsXHTmsm4ycNcaTpB8Uccx+g==
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Email Configuration (for password reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=wellington12072007@gmail.com
SMTP_PASS=2344
SMTP_FROM=wellington12072007@gmail.com

# Application Configuration
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
PORT=3001